<div class="guide">
  <h2>How to use the save files on PC</h2>
  <div>
    <p>Choose your options and then copy the downloaded file into the following directory:</p>
    <span class="mono">Documents/SQUARE ENIX/FINAL FANTASY X&X-2 HD Remaster/FINAL FANTASY X/ffx_001</span>
    <p>Make sure your filename is ffx_Y with Y being a 3-digit number between 000 and 099. After loading the file you start out
      on Zanarkand Overpass. The downloaded savefile will be named ffx_001, copying it with this name will overwrite your save
      in slot 1.</p>
  </div>
</div>