Version 0.15
<p>WARNING: This is a work in progress port of the old site and is not guaranteed to work 100%. Please keep using the old generator at <a
    href="https://zint.ch/index.php?page=ffxrandomizer">https://zint.ch/index.php?page=ffxrandomizer</a> while this one is being developed.</p>
<p>This tool generates savefiles for Final Fantasy X Randomizer races. It currently supports randomizing the Standard and Expert Sphere Grid as well
  as enabling Flee for Tidus.</p>
<p>To use the Randomizer, make sure you have Javascript enabled in your browser. If you encounter any problems you can open an new issue on <a
    href="https://github.com/BitPatty/FFXRandomizer/issues" rel="noopener" target="_blank">Github</a>.
</p>